body {
    background: gray;
}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Lobster';
    color:  #00ff80;
    font-size: 40px;
}

.header2{
    display: flex;
    justify-content: center;
    font-family: 'Lobster';
    color: #ffffff;
    font-size: 20px;
    padding: 0 0 10px;
}


.searcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.container {
    max-width: 600px;
}

.bar {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: rgb(184, 240, 184);
    padding: 8px;
    border-radius: 4px;
    justify-content:center;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
}
.address {
    font-style: italic;
}

.category  {
    font-style: italic;
}

.suggestions li {
    background-image: linear-gradient(rgb(184, 240, 184),white);
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 4px;
    margin: 10px ;
}